/* app.css */

/* Add your CSS styles here */
#user_input {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #992424;
    background: #efecec;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    height: 100px;
}

#Send {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #992424;
    background: #efecec;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    height: 100px;
}

#answer {
    width: 10%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #992424;
    background: #efecec;
    border-radius: 5px;
    box-sizing: border-box;
    resize: none;
    height: 100px;
}

