/* app.css */
body {
    background: #ceabab;
}
.container {

    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ba9b9b;;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(62, 55, 55, 0.931);
}
#user_input,
#answer {
    width: 70%;
    padding: 10px;
    font-size: 16px;
background-color: #e9dddd;
    border-radius: 10px; /* Add border-radius property with a value of 10px */
    box-sizing: border-box;
    resize: none;
    height: 100px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.931);
}

#user_input {
    margin-bottom: 10px;
}




#answer {
    padding-left: 20px;
    margin-top: 10px;
}

#main_title {
    text-align: center;
    font-size: 39px;
    color: #390d0d;
    margin-bottom: 20px;
}


  
.muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    min-width: 200px;
    height: 100px;
    border: 0px solid #947070;
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 1px;
    opacity: 1;
  }
  
  .noot-1 {
    top: 30px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 30px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 30px;
    left: 90%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }
  


  #Send {
    filter: drop-shadow(0 0 1rem var(--purple-300));
    animation: glowing 2s infinite;
    width: 100px;
    height: 40px;
    background-color: #f66b01;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 40% ;
    margin-top: 20px;
  }

  @keyframes glowing {
    0% {
      box-shadow: 0 0 5px #060606;
    }
    50% {
      box-shadow: 0 0 20px #ac520e, 0 0 40px #f66b01;
    }
    100% {
      box-shadow: 0 0 5px #ccc9c7;
    }
  }
    cursor: pointer;
    margin-left: 40% ;
    margin-top: 20px;
  }
  
  #Send:hover {
    animation: none;
    box-shadow: 0 0 20px #f66b01, 0 0 40px #f66b01;
  }