/* app.css */
body {
    background: #ceabab;
    background-image: url(images/2148290902.jpg) ;
}
.container {

    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ba9b9b;;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(62, 55, 55, 0.931);
}
#user_input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
background-color: #e9dddd;
    border-radius: 10px; /* Add border-radius property with a value of 10px */
    box-sizing: border-box;
    resize: none;
    height: 100px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.931);
}

#answer {
  width: 100%;
  padding: 10px;
  font-size: 16px;
background-color: #e9dddd;
  border-radius: 10px; /* Add border-radius property with a value of 10px */
  box-sizing: border-box;
  resize: none;
  height: 100px;
  margin: 0 auto;
  display: block;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.931);
}

#user_input {
    margin-bottom: 10px;
}




#answer {
    padding-left: 20px;
    margin-top: 10px;
}

#main_title {
    text-align: center;
    font-size: 39px;
    color: #390d0d;
    margin-bottom: 20px;
    font-weight: bold;
}


  
.muzieknootjes {
    display: block;
    margin: auto;
    position: relative;
    width: 100%;
    min-width: 200px;
    height: 100px;
    border: 0px solid #947070;
  }
  
  .noot-1,
  .noot-2,
  .noot-3,
  .noot-4 {
    position: absolute;
    animation: notes 2s infinite linear;
    font-size: 1px;
    opacity: 1;
  }
  
  .noot-1 {
    top: 30px;
    left: 0;
    animation-delay: 0.5s;
  }
  
  .noot-2 {
    top: 30px;
    left: 30%;
    animation-delay: 1s;
  }
  
  .noot-3 {
    top: 30px;
    left: 60%;
    animation-delay: 1.5s;
  }
  
  .noot-4 {
    top: 30px;
    left: 80%;
    animation-delay: 2s;
  }
  
  @keyframes notes {
    0% {
      transform: scale(1) translate(0, 0);
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: scale(1.5) translate(50%, -50%);
    }
    80% {
      opacity: 0;
      transform: scale(1.5) translate(100%, -100%);
    }
    100% {
      transform: scale(1.5) translate(100%, -100%);
      opacity: 0;
    }
  }
  


  
/* button */
  #Send {
    font-size: 0.7rem; /* Decrease the font size to make the button smaller */
    padding: 0.5rem 2rem; /* Adjust the padding to make the button smaller */
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(15, 29, 18);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    margin-top: 20px;
    margin-left: 450px;


  }

  #Send:active {
    scale: 0.92;
  }

  #Send:hover {
    background: rgb(2,29,78);
    background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
    color: rgb(4, 4, 38);
  }